.VotePage div{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 20px 
}
.VotePage .picture{
  cursor: pointer;
  max-width: 453px;
  height: 640px;
  background-position: top center;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  
}

.header{
  color: white;
  background-color: teal;
  width: 100%;
}

.picture h1{
  color: white;
  background-color: teal;
  width: 100%;
  opacity: 75%;
}