/* VOTE PAGE */

.VotePage{
  border: 7px solid #34DDDD;
  border-radius: 15px;
  margin: 10px;
}

.VotePage div{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}

.VotePage h2{
  font-size: 30px;
  color: #89E894
}

.VotePage .picture{
  cursor: pointer;
  max-width: 453px;
  height: 640px;
  background-position: top center;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  box-shadow: 9px 9px #999;
}

.VotePage .picture:active{
  box-shadow: 5px 5px #666;
  transform: translateY(4px)
}

.header{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #89E894;
  margin-bottom: 20px;
}

.header *{
  margin: 10px;
}

.picture h1{
  color: white;
  background-color: #34DDDD;
  width: 100%;
  opacity: 75%;
}

/* LOGIN PAGE */

.LoginPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.LoginPage div{
  
  border: 7px solid #34DDDD;
  color: #89E894;
  font-weight: 700;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 0px
}

.LoginPage input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #89E894;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  
}

.LoginPage input:focus {
  border: 3px solid #34DDDD;
}

.LoginPage button{
  background-color: #89E894;
  border: 2px solid #89E894;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.LoginPage button:hover{
  background-color: white;
  color: #34DDDD;
  border: 2px solid #34DDDD;
}

/* CHART PAGE */

.ChartPage{
margin-left: auto;
margin-right: auto;
border: 7px solid #34DDDD;
border-radius: 15px;
margin: 10px;
}

.ChartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChartPage div{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.ChartPage div img{
  width: 80%;
  height: auto;
}